/* COLORS */
:root {
  --bg: #262626;
  --primary: #f2709c;
  --secondary: #ff9472;
  --tertiary: lightgrey;
  --dark: #171515;
  --light: #fff;
  --gradient: linear-gradient(to right, var(--primary), var(--secondary));
  --gradient-hover: linear-gradient(to left, var(--primary), var(--secondary));
  --gradient_variation: linear-gradient(to right, #1c9da3, #44dbc4);
  /* --gradient_variation: linear-gradient(to right, #3cd4db, #43f9dd); */
  --gradient_neutral: linear-gradient(to left, grey, darkgrey);
  --gradient_neutral-hover: linear-gradient(to right, grey, darkgrey);

}

/* STANDARDS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: var(--bg);
  color: var(--bg);
}

/* ELEMENTS */
h1 {
  text-align: center;
  color: var(--light);
}

button {
  border: none;
  cursor: pointer;
}

/* MODAL CONTAINER */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}

.modal_close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  background: var(--gradient);
  border-radius: 50%;
  border: none;
  color: var(--light);
  font-weight: 600;
}

.modal_close {
  width: 2rem;
  height: 2rem;
  transition: all 0.3s;
}

.modal_close:hover {
  transform: scale(1.1);
}
