.choice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.choice_buttons {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.choice_title {
  text-align: center;
  color: var(--light);
}

.choice_bar,
.choice_step {
  margin-bottom: 1rem;
  padding: 1rem;
  width: 10rem;
  border-radius: 5rem;
  background-color: var(--light);
  color: var(--dark);
}

.choice_bar:hover,
.choice_step:hover {
  background: linear-gradient(to left, var(--primary), var(--secondary));
  box-shadow: 0 3px 3px -5px var(--primary), 0 2px 5px var(--primary);
  color: var(--light);
}

.choice_step img {
  vertical-align: middle;
}

/*** BARS BUTTON ***/
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 6rem;
}

/* BORDER-RADIUS */
/* firefox - internet explorer - edge */
progress,
progress::-moz-progress-bar {
  border-radius: 1rem;
}

/* BACKGROUND */
/* firefox - internet explorer - edge, chrome - safari */
progress,
progress::-webkit-progress-bar {
  background-color: var(--tertiary);
  border-radius: 1rem;
}

/* VALUE */
/* chrome - safari */
progress::-webkit-progress-value {
  background-color: var(--light);
  border-radius: 1rem;
}

/* firefox */
progress::-moz-progress-bar {
  background-color: var(--light) !important;
}

/* internet explorer - edge */
progress {
  color: var(--light);
}
