.choice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.choice_buttons {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.choice_title {
  color: var(--light);
}

.choice_bars,
.choice_steps {
  padding: 1rem;
  width: 10rem;
  border-radius: 5rem;
  background-color: var(--light);
  color: var(--dark);
}

.choice_bars:hover,
.choice_steps:hover {
  background: linear-gradient(to left, var(--primary), var(--secondary));
  box-shadow: 0 3px 3px -5px var(--primary), 0 2px 5px var(--primary);
  color: var(--light);
}
