.progress_bar {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress_bar--options select {
  outline: none;
  cursor: pointer;
  text-align: right;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 2rem;
}

.progress_bar--options select:focus {
  outline: none;
}

.progress_bar--options select option {
  text-align: right !important;
}

.progress_bar--options select:focus option:checked {
  background: var(--bg);
  color: var(--light);
}

.progress_bar--full {
  background-color: var(--tertiary);
  box-shadow: 0 1px 5px var(--dark);
  border-radius: 1rem;
  position: relative;
  margin: 0.5rem 0;
  height: 1.5rem;
  width: 15rem;
}

.progress_bar--value {
  background: linear-gradient(to left, var(--primary), var(--secondary));
  box-shadow: 0 1px 5px var(--primary);
  border-radius: 1rem;
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  font-size: x-small;
  transition: 1s ease 0.3s;
}
