.progress_bar {
  width: 22rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.progress_bar #percent_options {
  width: 5.5rem;
}

#percent_options div::-webkit-scrollbar {
  width: 0;
}

#react-select-3-listbox {
  width: 3.2rem;
  text-align: right;
  /* max-height: 19rem;
  overflow: auto; */
}

.progress_bar--bg {
  background-color: var(--tertiary);
  box-shadow: 0 1px 5px var(--dark);
  border-radius: 1rem;
  position: relative;
  margin: 0.5rem 0;
  height: 1.5rem;
  width: 15rem;
}

.progress_bar--progress {
  background: linear-gradient(to left, var(--primary), var(--secondary));
  box-shadow: 0 1px 5px var(--primary);
  border-radius: 1rem;
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  font-size: x-small;
  transition: 1s ease 0.3s;
}
